.about
    background-color: $white-grey
    &__title
        text-align: center
        background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%)
        -webkit-background-clip: text
        color: transparent
        transition: all 0.4s
        &:hover
            transform: skew(7deg, 7deg) scale(1.1)
            text-shadow: 2px 4px 5px blur #000
            